<%- include('header') -%>
<div class="main">
    <main>
        <button type="button" class="btn btn-primary paymentButton" data-href="/payment">Payment</button>
        <button type="button" class="btn btn-primary modalButton"
                data-toggle="modal"
                data-target="#modal"
                data-type="new">New Transaction</button>
        <div>
            <p>Total cash: <%= sumammount; %>$</p>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Operations</th>
                </tr>
                </thead>
                <tbody>
                <% transactions.forEach((transaction) => { %>
                    <tr>
                        <th scope="row"><%= transaction.amount < 0 ? 'Expense' : 'Income'; %></th>
                        <td><%= transaction.date.toISOString().slice(0,10); %></td>
                        <td><%= transaction.amount.toString(); %>$</td>
                        <td><%= transaction.comment; %></td>
                        <td>
                            <button class="btn btn-danger btn-sm del"
                                    data-href="/transaction/del/<%= transaction._id; %>">Delete</button>
                            <button class="btn btn-primary btn-sm modalButton"
                                    data-toggle="modal"
                                    data-target="#modal"
                                    data-type="edit"
                                    data-id="<%= transaction._id; %>">Modify</button>
                        </td>
                    </tr>
                <%}) %>
                </tbody>
            </table>
        </div>
    </main>

    <script>

        $(function() {

            $('.table-responsive').on('click', 'button.del', function (event) {
                event.preventDefault();

                if (confirm('Are you sure you want to delete this item?'))
                {
                    $.get($(this).data('href'), () => {
                        location.reload();
                    });
                }
            });

            $('.paymentButton').on('click', function(event) {
                event.preventDefault();

                $.get($(this).data('href'), () => {
                    location.reload();
                })

            });

            $('#transactionsMenu').addClass('active');

        });
    </script>

    <%- include('modal') -%>
</div>
<%- include('footer') -%>