<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="transactionForm" action="#">
                    <div class="form-group">
                        <i class="far fa-calendar-alt"></i>
                        <label for="date">Date</label>
                        <input type="text" class="form-control datepicker" id="date" name="date"
                               placeholder="<%= new Date().toISOString().slice(0,10);%>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="100">
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" name="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="transactionForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#modal').on('shown.bs.modal', function (e) {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            orientation: 'bottom'
        });
    });

    $(function() {
        $('.modalButton').on('click', function() {
            $('#transactionForm').attr('action', '/transaction/' + $(this).data('type') + ($(this).data('type') == 'edit' ? ('/' + $(this).data('id')) : '' ));
            $('#exampleModalCenterTitle').html($(this).data('type') + ' transaction').css('textTransform', 'capitalize');
            if($(this).data('type') === 'edit') {
                $.get('/transaction/'+$(this).data('id'), function (data) {
                    $('#date').val(new Date(data.date).toISOString().slice(0,10));
                    $('#amount').val(data.amount);
                    $('#comment').val(data.comment);
                });
                $('<input>').attr({
                    type: 'hidden',
                    name: 'id',
                    value: $(this).data('id')
                }).appendTo('#transactionForm');
            }
        });
    })
</script>