<%- include('header') -%>
<div class="settings">
    <main>

        <div class="centered">
            <h2>Settings</h2>
            <form method="post" action="/settings">
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="number" class="form-control datepicker" id="salary"
                           name="amount"
                           placeholder="1000"
                           value="<%= typeof salary !== 'undefined' ? salary.amount : '' %>">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            </form>
        </div>

    </main>
</div>

<script>
    $(function () {
        $('#settingsMenu').addClass('active');
    })
</script>
<%- include('footer') -%>