<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="userForm" action="#" autocomplete="off">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"
                               id="password" name="password" placeholder="Password" autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="userForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(function() {
        $('.modalButton').on('click', function() {
            $('#userForm').attr('action', '/user/' + $(this).data('type') + ($(this).data('type') == 'edit' ? ('/' + $(this).data('id')) : '' ));
            $('#exampleModalCenterTitle').html($(this).data('type') + ' user').css('textTransform', 'capitalize');
            if($(this).data('type') === 'edit') {
                $.get('/user/'+$(this).data('id'), function (data) {
                    $('#username').val(data.username);
                });
                $('<input>').attr({
                    type: 'hidden',
                    name: 'id',
                    value: $(this).data('id')
                }).appendTo('#userForm');
            }
        });
    })
</script>