<%- include('header') -%>
<div class="main">
    <main>
        <button type="button" class="btn btn-primary modalButton"
                data-toggle="modal"
                data-target="#modal"
                data-type="new">New User</button>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Operations</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach((user) => { %>
                    <tr>
                        <td><%= user.username; %></td>
                        <td>
                            <button class="btn btn-danger btn-sm del"
                                    data-href="/user/del/<%= user._id; %>">Delete</button>
                            <button class="btn btn-primary btn-sm modalButton"
                                    data-toggle="modal"
                                    data-target="#modal"
                                    data-type="edit"
                                    data-id="<%= user._id; %>">Modify</button>
                        </td>
                    </tr>
                <%}) %>
                </tbody>
            </table>
        </div>
    </main>

    <script>
        $(function() {

            $('.table-responsive').on('click', 'button.del', function (event) {
                event.preventDefault();

                if (confirm('Are you sure you want to delete this item?'))
                {
                    $.get($(this).data('href'), () => {
                        location.reload();
                    });
                }
            });

            $('#usersMenu').addClass('active');

        });
    </script>

    <%- include('user_modal') -%>
</div>
<%- include('footer') -%>